:root {
    --primary: #586BA4;
    --secondary: #324376;
    --tertiary: #F5DD90;
    --quaternary: #F68E5F;
    --quinary: #F76C5E;
}

header h1 {
    background-color: var(--secondary);
    color: var(--quaternary);
}

.city,
.search-input{
    width: 15vw;
    color: 004266;
    background-color: var(--quaternary);

}

.search-input {
    background-color: transparent;
}

.city:hover {
    background-color: var(--tertiary);
}

.five-day {
    background-color: var(--primary);
}

.five-day-card {
    border: none;
}